<div class="container">
  
  <div class="row">
    <div class="col">
            <%= image_tag(comment.profile.avatar)%>

    </div>
    <div class="col">
            <h3><%=comment.profile.fname%></h3>

    </div>
    
    </div>
    
</div>
<div>
      <h3><%=comment.content%></h3>
    </div>