
    <form action="<%= posting_comments_path(postings)%>">
        <input type="hidden" name="authenticity_token">

        <%# <textarea name="comment[content]" rows="6" cols="20" class="comments-field"> %>
        <%# <input class="comments-submit" type="submit" value="submit"> %>
<div class="input-group-append ">
            <input class="input-group-text input-group-submit" type="submit" value="Submit" id="basic-addon2">
        </div>

        <div class="input-group ">
        <textarea name="comment[content]" type="text" class="form-control" placeholder="Add a comment..." aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
        
        </div>
    </form> 

<%# 
<%= turbo_frame_tag "modal" do 
<div class="modal">
          <div></div>
                     link_to "Test", "#", data:{
                      controller: "modals",
                      action: "modals#close",
                    }, class:"btn btn-secondary"
                    </div>
</div>
end%>