<div class="search-box">

<%= search_form_for @q1, url: search_path do |f| %>
    <button class="btn-search"></button>

    <%= f.search_field :fname_cont, placeholder: "Search...", class:"input-search", autosave: false, onsearch: true%>
        <%= f.submit "⌕", data:{turbo:false}, class: "search_submit_icon"%>
<%end%>
</div>

  