<div class="search-box">

<%= search_form_for @q1, url: search_path do |f| %>
    <button class="btn-search"><i class="fas fa-search"></i></button>

    <%= f.search_field :fname_or_tag_cont,  placeholder: "Search...", class:"input-search"%>
<%end%>

</div>

  