hi

  <%@posts.each do |i|%>
            <div class="card " style="width: 25rem; ">

        

                <div class="card-avatar">
                    </div>
                <h5 class="card-title">@<%= i.place %></h5>
                <h6 class="card-subtitle"><%= School.find_by(id: i.school_id).name %></h6>

            </div>

  <%end%>
