
        <div class="feed_post_rows">

<%= turbo_frame_tag "search", class: "feed_post_rows"  do %>
 <%= render 'search/queries'%>

<%end%>  


<%= turbo_frame_tag :pagination,
loading: :lazy,
src: search_path(format: :turbo_stream) , class: "feed_post_rows" do %>
<div class="relative flex justify-center items-center">
    <div class="absolute animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-purple-500"></div>
    <%=image_tag ("CC2.png"),  class:"rounded-full h-28 w-28"%>
</div>
<%end%>

  



