
<div style="display:flex; width: 100%; overflow-x: hidden; ">
    <div style="text-align:center; width: 100%">
        <h1 class="search_category" > Profiles </h1>

        <%= turbo_frame_tag "search_profiles", class: "feed_post_rows" do %>
            <%= render "search/queries"%>
        <%end%>
    </div>
</div>






