<% content_for :title, "Editing posting" %>

<h1>Editing posting</h1>

<%= render "form", profile: @postings %>

<br>

<div>
  <%= link_to "Show this profile", @postings %> |
  <%= link_to "Back to profiles", postings_path %>
</div>
