
@font-face {
    font-family: 'Josefin Bold';
    src: url(JosefinSans-Bold.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'Josefin';
    src: url(JosefinSans-Regular.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Josefin Thin';
    src: url(JosefinSans-Thin.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }


@font-face {
  font-family: 'Josefin Italic';
  src: url(JosefinSans-Italic.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Josefin Medium';
  src: url(JosefinSans-Medium.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

  body{
    /* font-family: Josefin; */
  }

  .flex{
    display:flex;
  }

.nav {
  margin-top: 10px;
    font-family: Josefin Bold;
    opacity: 70%;
    border-radius: 2px;
    background-color: transparent;
    width: 100%;
    right: 0;
    float:right;
    font: 'Josefin';
    font-size: 20px;    
    /* background-color: rgba(10, 32, 49, 0.945); */
    color: rgb(0, 0, 0);
    text-align: center;

}



.nav-items li {
    /* font-family: Josefin; */
  padding: 10px;
  padding-right: 70px;
    background-color: transparent;
    text-align: end;
    display: inline-block;
}


.nav-items{
  width: 100%;

    color:rgb(0, 0, 0);
    background-color: transparent;
    font: 'Josefin';
    list-style: none;
    text-align: end;
}

.list:active,  .list:focus, .list:hover{
  text-decoration: underline;
  
}
 


.active{
  background-color: transparent;
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  text-decoration-color: #8A2BE2;
  color:rgb(0, 0, 0)
}

a {
  background-color: transparent;
  
    color:black;
    text-decoration: none;
    /* color: inherit */
}

.logo{
    font-family: 'Josefin Bold';
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 19px;
    padding-top: 1%;
    display: inline-block;
    width: 20%;
    padding-right: 20px;
    /* margin-bottom: 5px; */
    color: rgb(0, 0, 0);
  }