.post_styles{
    background-color: aqua;
    margin: 5%;
}

.post_rows{
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));

}


.feed_post_rows{
  max-width: 80vw;
    font-family: Josefin;
    margin-left: 7vw;
    display: grid;
    gap: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.card-text{
  font-family: Josefin;
}

.card{
  --bs-card-spacer-x: 0rem;
  --bs-card-spacer-y: 0rem;
}

.card-img-top-about{
  max-height: 450px;
}

.card-img-top{
  border-radius: 0;
  max-height: 300px;
}

.card-title{
  margin-top: 20px;
}

.card-title, .card-subtitle, .card-text{
  margin-left: 20px;
  margin-right: 10px;
}


.tab-pane:not(.active) {
  display: none;
}

.card-body-height{
  min-height: 700px;
  max-height: 700px;
  overflow: auto;
}

.card-body-height-search{
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

.card-body-requests{
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.tab-pane{
  text-decoration: none;

}
.navGen.active , .tab-pane.active{
  display : block;
}
.tab-pane:active{
  text-decoration: none;
}

.avatar-div{
  position:absolute; 
  left: 20%; 
  top: 30%;
}


.card-image-section{
  justify-items: center;
  
}

.comments-field{
  width: 90%;
}
.comments-submit{
  width: 10%;
}
.card-comment{
  width: 100%;
  position: absolute;
  bottom: 5%;
}

.input-group-submit{
  float:right;
  background-color: #8A2BE2;
  border-radius: 5px 20px 5px;
  color:white;
}

.pagination-spacing{
  text-align: center;
}
.page{
  padding-left:10px;
  padding-right: 5px
}

.input-group-submit:hover{
  border-radius: 20px 5px 20px;
  background-color: #FF8911;
}

.card-content{
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border:2px solid #5f9cff;    
  background-color: #5f9cff;
  color:white;
  border-bottom-right-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-content:hover{
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: #ffffff;
}

.comments-posted-avatar{
  float: left;
  width: 10%;
  margin-left: 3px;
}

.card-avatar{
  float: left;
  width: 20%;
  margin: 4px 20px 4px 4px;
}

.comments-posted-text{
  float: left;
  width: 87%;
  padding: 10px;
}

.comment-avatar{
  width: 100%
}

.card-height{
  max-height: 10%;
}

.circle {
  background-color:#000000;
  border:2px solid #8A2BE2;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
/* 

@media (min-width: 600px) {
    .post_rows { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .post_rows { grid-template-columns: repeat(3, 1fr); }
  }
 */

 