.post_styles{
    background-color: aqua;
    margin: 5%;
}

.post_rows{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
/* 

@media (min-width: 600px) {
    .post_rows { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .post_rows { grid-template-columns: repeat(3, 1fr); }
  }
 */
