.post_styles{
    background-color: aqua;
    margin: 5%;
}

.post_rows{
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));

}

.card_design{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}

.feed_post_rows{
  max-width: 80vw;
    font-family: Josefin;
    margin: 0 auto;
    display: grid;
    gap: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.card-text{
  font-family: Josefin;
}


.card-img-top-about{
  max-height: 450px;
}

.card-img-top{
  max-height: 300px;
}


.tab-pane:not(.active) {
  display: none;
}

.card-body-height{
  min-height: 700px;
  max-height: 700px;
  overflow: auto;
}

.tab-pane{
  text-decoration: none;

}
.navGen.active , .tab-pane.active{
  display : block;
}
.tab-pane:active{
  text-decoration: none;
}
/* 

@media (min-width: 600px) {
    .post_rows { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .post_rows { grid-template-columns: repeat(3, 1fr); }
  }
 */
