.profile_block{
    box-shadow: 4px 3px 2px black;
    width:70%;
    height: 30vh;
    font-family: Josefin Thin;
    background: linear-gradient(90deg, rgba(138,43,226,1) 0%, rgba(248,132,29,1) 62%, rgba(138,43,226,1) 100%);

    /* background-image: url("bg-tester.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-left: 15%;
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 5%;
}

.grid-container {
    display: grid;
    margin-left: 3%;
    width: 100%;
    grid-template-areas:     
      'avatar  name name name right'
      'avatar  footer footer footer right';
    gap: 10px;
    background-color: transparent;
    padding: 10px;
  }

  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */

    padding: 20px 0;
  }

.item2 { 
    grid-area: name;
    margin-top: 2%; 
}

.item2_text1{
    font-size: 50px;
    margin-bottom: 20px;
}
.item2_text2{
    font-size: 20px;
}

.item3 {
    margin-top: 5%;
    margin-left: 15%;
    grid-area: avatar; 
    background-color: #000000;
    border: 5px solid #ffffff;
    max-width: 20vw;
    max-height: 30vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}

.item4 {
     grid-area: right; 
}


.item5 { 
    grid-area: footer;
    font-size: 20px;
    display: flex;
}


.status{
    background-color: rgb(32, 168, 231);
    padding: 5px;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.item5_text1{
    border-radius: 20px;
    background-color: #2E2532;
}
.item5_text2{
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    background-color: #2E2532;
    margin-left: 10%;    
    padding-left: 3%;
    padding-right: 3%;
}
.item5_text3{
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 20px;
    background-color: #2E2532;
    margin-left: 10%;    
    padding-left: 3%;
    padding-right: 3%;
}

.profile_card{
    width: 14%;
    margin-top: -10px;
    text-align: end;
}